.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-header {
  top: 0;
  width: 100%;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-scheme-header);
}
.home-logo {
  width: 256px;
}
.home-desktop-menu {
  display: flex;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text {
  text-decoration: none;
}
.home-text001 {
  color: var(--dl-color-scheme-darkblue);
}
.home-link {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-scheme-header);
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image {
  width: 196px;
  height: auto;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text003 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text004 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text005 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text006 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text007 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-icon-group {
  display: flex;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-hero {
  position: relative;
  padding-top: 128px;
  background-size: cover;
  object-position: bottom;
  background-image: url("public/playground_assets/home-background-1500w.png");
}
.home-max-width {
  margin-top: var(--dl-space-space-threeunits);
}
.home-heading-container {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.home-heading {
  color: var(--dl-color-scheme-headertext);
  font-size: 24px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: DM Serif Display;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: var(--dl-space-space-twounits);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.home-text012 {
  color: var(--dl-color-scheme-headertext);
  font-size: 45px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: DM Serif Display;
  font-weight: 400;
  line-height: 70px;
  margin-bottom: var(--dl-space-space-twounits);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.home-text014 {
  font-size: 39px;
}
.home-text015 {
  color: var(--dl-color-scheme-headertext);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-gallery {
  width: 948px;
  height: 703px;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
}
.home-container02 {
  width: 35%;
  height: 100%;
  align-self: stretch;
}
.home-image01 {
  width: 310px;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  object-position: right;
}
.home-container03 {
  width: 100%;
  display: flex;
  grid-gap: 20px;
  flex-direction: column;
}
.home-image02 {
  flex: 1;
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  object-position: 50% 80%;
}
.home-image03 {
  width: 100%;
  height: 327px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-services {
  display: flex;
  flex-direction: column;
  background-size: cover;
  object-position: right;
  background-image: url("public/playground_assets/services-background-1500w.jpg");
}
.home-max-width1 {
  flex-direction: column;
}
.home-heading-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text018 {
  color: var(--dl-color-scheme-services-text1);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.home-cards-container {
  width: 100%;
  display: flex;
  grid-gap: 20px;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
}
.home-services-card {
  max-width: var(--dl-size-size-xxlarge);
  background-color: var(--dl-color-scheme-services-card);
}
.home-container04 {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-scheme-icon-background);
}
.home-image04 {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.home-text021 {
  color: var(--dl-color-scheme-services-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text022 {
  color: var(--dl-color-scheme-services-text);
  text-align: left;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-services-card1 {
  max-width: var(--dl-size-size-xxlarge);
  background-color: var(--dl-color-scheme-services-card);
}
.home-container05 {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-scheme-icon-background);
}
.home-image05 {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.home-text032 {
  color: var(--dl-color-scheme-services-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text033 {
  color: var(--dl-color-scheme-services-text);
  text-align: left;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-services-card2 {
  max-width: var(--dl-size-size-xxlarge);
  background-color: var(--dl-color-scheme-services-card);
}
.home-container06 {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-scheme-icon-background);
}
.home-image06 {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.home-text042 {
  color: var(--dl-color-scheme-services-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text043 {
  color: var(--dl-color-scheme-services-text);
  text-align: left;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-services-card3 {
  max-width: var(--dl-size-size-xxlarge);
  background-color: var(--dl-color-scheme-services-card);
}
.home-container07 {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-scheme-icon-background);
}
.home-image07 {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.home-text050 {
  color: var(--dl-color-scheme-services-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text051 {
  color: var(--dl-color-scheme-services-text);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-services-card4 {
  max-width: var(--dl-size-size-xxlarge);
  background-color: var(--dl-color-scheme-services-card);
}
.home-container08 {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-scheme-icon-background);
}
.home-image08 {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.home-text052 {
  color: var(--dl-color-scheme-services-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text053 {
  color: var(--dl-color-scheme-services-text);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-services-card5 {
  max-width: var(--dl-size-size-xxlarge);
  background-color: var(--dl-color-scheme-services-card);
}
.home-container09 {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-scheme-icon-background);
}
.home-image09 {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.home-text066 {
  color: var(--dl-color-scheme-services-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text067 {
  color: var(--dl-color-scheme-services-text);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-image10 {
  width: auto;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text080 {
  color: var(--dl-color-scheme-white);
  font-size: 20px;
  text-align: center;
}
.home-about {
  background-color: var(--dl-color-scheme-about-us);
}
.home-max-width2 {
  flex-direction: row;
  justify-content: space-between;
}
.home-text-container1 {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text081 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.home-text084 {
  color: var(--dl-color-scheme-about-us-text);
  font-size: 36px;
  font-family: DM Serif Display;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.home-checklist {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-check-item {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text085 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-check-item1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon12 {
  fill: var(--dl-color-scheme-checkmark-icon);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text086 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-check-item2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon14 {
  fill: var(--dl-color-scheme-checkmark-icon);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text089 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-check-item3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon16 {
  fill: var(--dl-color-scheme-checkmark-icon);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text090 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-check-item4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon18 {
  fill: var(--dl-color-scheme-checkmark-icon);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text091 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-check-item5 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon20 {
  fill: var(--dl-color-scheme-checkmark-icon);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text092 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-check-item6 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon22 {
  fill: var(--dl-color-scheme-checkmark-icon);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text095 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-check-item7 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon24 {
  fill: var(--dl-color-scheme-checkmark-icon);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text098 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-check-item8 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon26 {
  fill: var(--dl-color-scheme-checkmark-icon);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text101 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-map {
  background-color: var(--dl-color-scheme-map);
}
.home-max-width3 {
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-text104 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.home-image11 {
  width: 100%;
  height: 632px;
  margin-top: var(--dl-space-space-threeunits);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-banner {
  background-color: var(--dl-color-scheme-contact-us);
}
.home-max-width4 {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text107 {
  color: var(--dl-color-scheme-contact-text);
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-threeunits);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.home-text110 {
  color: var(--dl-color-scheme-contact-text);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text113 {
  color: var(--dl-color-scheme-contact-text);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text115 {
  line-height: 26px;
}
.home-text116 {
  color: var(--dl-color-scheme-contact-text);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text118 {
  line-height: 26px;
}
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.home-link4 {
  color: var(--dl-color-scheme-contact-text);
  text-decoration: none;
}
.home-link5 {
  color: var(--dl-color-scheme-contact-text);
  text-decoration: none;
}
.home-text121 {
  color: var(--dl-color-scheme-contact-text);
}
.home-footer {
  background-color: var(--dl-color-scheme-footer);
}
.home-max-width5 {
  flex-direction: row;
  justify-content: space-between;
}
.home-image12 {
  width: 256px;
  object-fit: cover;
}
.home-text122 {
  color: var(--dl-color-scheme-white);
  align-self: center;
}
@media(max-width: 991px) {
  .home-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .home-gallery {
    flex-direction: column;
  }
  .home-container02 {
    width: 100%;
  }
  .home-image01 {
    width: 776px;
    height: 1129px;
  }
  .home-container03 {
    width: 100%;
    align-items: stretch;
  }
  .home-max-width2 {
    flex-direction: column;
  }
  .home-text-container1 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container11 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-logo {
    width: var(--dl-size-size-large);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-link {
    margin-left: var(--dl-space-space-unit);
  }
  .home-link1 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-link2 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-link3 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-burger-menu {
    display: flex;
  }
  .home-image03 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
    margin-left: 0px;
    padding-right: 16px;
  }
  .home-logo {
    margin-left: 0px;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-image {
    width: var(--dl-size-size-large);
  }
  .home-max-width5 {
    flex-direction: column;
  }
  .home-image12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text122 {
    text-align: center;
  }
}
