.map-container {
  width: 480px;
  height: 480px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.map-div {
  width: 480px;
  height: 480px;
  align-self: center;
}
.map-root-class-name {
  width: 480px;
  height: 480px;
  align-self: center;
}

.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-header {
  top: 0;
  width: 100%;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: var(--dl-color-scheme-header);
}
.home-link {
  display: contents;
}
.home-logo {
  width: 256px;
  text-decoration: none;
}
.home-desktop-menu {
  display: flex;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-link01 {
  text-decoration: none;
}
.home-text {
  color: var(--dl-color-scheme-darkblue);
}
.home-link02 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link03 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link04 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link05 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-scheme-header);
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-link06 {
  display: contents;
}
.home-image {
  width: 196px;
  height: auto;
  text-decoration: none;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: 24px;
  height: 24px;
}
.home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text003 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-home {
  position: relative;
  padding-top: 128px;
  background-size: cover;
  object-position: bottom;
  background-color: var(--dl-color-scheme-home);
}
.home-max-width {
  margin-top: var(--dl-space-space-threeunits);
}
.home-heading-container {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.home-heading {
  color: var(--dl-color-scheme-headertext);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: DM Serif Display;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text008 {
  color: var(--dl-color-scheme-headertext);
  font-size: 45px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: DM Serif Display;
  font-weight: 400;
  line-height: 70px;
  text-shadow: 1px 1px #ffffffff;
  letter-spacing: 0.01em;
  text-decoration: none;
}
.home-text011 {
  color: var(--dl-color-scheme-headertext);
  font-size: 24px;
  font-style: normal;
  font-family: DM Serif Display;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text012 {
  color: var(--dl-color-scheme-headertext);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: DM Serif Display;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-gallery {
  width: 948px;
  height: 703px;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
}
.home-container02 {
  width: 35%;
  height: 100%;
  align-self: stretch;
}
.home-image01 {
  width: 310px;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  object-position: right;
}
.home-container03 {
  width: 100%;
  display: flex;
  grid-gap: 20px;
  flex-direction: column;
}
.home-image02 {
  flex: 1;
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-image03 {
  width: 100%;
  height: 327px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  object-position: 50% 80%;
}
.home-services {
  display: flex;
  flex-direction: column;
  background-size: cover;
  object-position: right;
  background-image: url("public/playground_assets/services-background-1500w.jpg");
}
.home-max-width1 {
  align-items: flex-start;
  flex-direction: column;
}
.home-text015 {
  color: var(--dl-color-scheme-services-text1);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-threeunits);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.home-cards-container {
  width: 100%;
  display: flex;
  grid-gap: 20px;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
}
.home-services-card {
  max-width: var(--dl-size-size-xxlarge);
  background-color: var(--dl-color-scheme-services-card);
}
.home-container04 {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-scheme-icon-background);
}
.home-image04 {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.home-text018 {
  color: var(--dl-color-scheme-services-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text019 {
  color: var(--dl-color-scheme-services-text);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-services-card1 {
  max-width: var(--dl-size-size-xxlarge);
  background-color: var(--dl-color-scheme-services-card);
}
.home-container05 {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-scheme-icon-background);
}
.home-image05 {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.home-text032 {
  color: var(--dl-color-scheme-services-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text033 {
  color: var(--dl-color-scheme-services-text);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-services-card2 {
  max-width: var(--dl-size-size-xxlarge);
  background-color: var(--dl-color-scheme-services-card);
}
.home-container06 {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-scheme-icon-background);
}
.home-image06 {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.home-text046 {
  color: var(--dl-color-scheme-services-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text047 {
  color: var(--dl-color-scheme-services-text);
  text-align: left;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-services-card3 {
  max-width: var(--dl-size-size-xxlarge);
  background-color: var(--dl-color-scheme-services-card);
}
.home-container07 {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-scheme-icon-background);
}
.home-image07 {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.home-text057 {
  color: var(--dl-color-scheme-services-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text058 {
  color: var(--dl-color-scheme-services-text);
  text-align: left;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-services-card4 {
  max-width: var(--dl-size-size-xxlarge);
  background-color: var(--dl-color-scheme-services-card);
}
.home-container08 {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-scheme-icon-background);
}
.home-image08 {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.home-text067 {
  color: var(--dl-color-scheme-services-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text068 {
  color: var(--dl-color-scheme-services-text);
  text-align: left;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-services-card5 {
  max-width: var(--dl-size-size-xxlarge);
  background-color: var(--dl-color-scheme-services-card);
}
.home-container09 {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-scheme-icon-background);
}
.home-image09 {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.home-text075 {
  color: var(--dl-color-scheme-services-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text076 {
  color: var(--dl-color-scheme-services-text);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-image10 {
  width: 450px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text077 {
  color: var(--dl-color-scheme-white);
  font-size: 20px;
  text-align: center;
}
.home-about {
  background-color: var(--dl-color-scheme-about-us);
}
.home-max-width2 {
  flex-direction: row;
  justify-content: space-between;
}
.home-text-container {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text078 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-threeunits);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.home-text081 {
  color: var(--dl-color-scheme-about-us-text);
  font-size: 36px;
  font-family: DM Serif Display;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.home-checklist {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-check-item {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text082 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-check-item1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon06 {
  fill: var(--dl-color-scheme-checkmark-icon);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text083 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-check-item2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon08 {
  fill: var(--dl-color-scheme-checkmark-icon);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text086 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-check-item3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon10 {
  fill: var(--dl-color-scheme-checkmark-icon);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text087 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-check-item4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon12 {
  fill: var(--dl-color-scheme-checkmark-icon);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text088 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-check-item5 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon14 {
  fill: var(--dl-color-scheme-checkmark-icon);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text089 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-check-item6 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon16 {
  fill: var(--dl-color-scheme-checkmark-icon);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text092 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-check-item7 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon18 {
  fill: var(--dl-color-scheme-checkmark-icon);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text095 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-check-item8 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon20 {
  fill: var(--dl-color-scheme-checkmark-icon);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}
.home-text098 {
  color: var(--dl-color-scheme-about-us-text);
  font-style: normal;
  font-weight: 500;
}
.home-map {
  background-color: var(--dl-color-scheme-map);
}
.home-max-width3 {
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-text101 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-threeunits);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.home-text104 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  text-align: left;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text105 {
  line-height: 2;
}
.home-text107 {
  color: var(--dl-color-scheme-white);
  font-style: normal;
  text-align: left;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container11 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.home-banner {
  background-color: var(--dl-color-scheme-contact-us);
}
.home-max-width4 {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text110 {
  color: var(--dl-color-scheme-contact-text);
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-threeunits);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.home-text113 {
  color: var(--dl-color-scheme-contact-text);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text116 {
  color: var(--dl-color-scheme-contact-text);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text118 {
  line-height: 26px;
}
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.home-link10 {
  color: var(--dl-color-scheme-contact-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.home-text119 {
  font-size: 20px;
}
.home-link11 {
  color: var(--dl-color-scheme-contact-text);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.home-text121 {
  color: var(--dl-color-scheme-contact-text);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.home-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-link12 {
  display: contents;
}
.home-icon22 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.home-link13 {
  display: contents;
}
.home-icon24 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.home-footer {
  background-color: var(--dl-color-scheme-footer);
}
.home-max-width5 {
  flex-direction: row;
  justify-content: space-between;
}
.home-image11 {
  width: 256px;
  object-fit: cover;
}
.home-text125 {
  color: var(--dl-color-scheme-white);
  align-self: center;
}
@media(max-width: 991px) {
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .home-text010 {
    font-size: 39px;
  }
  .home-container03 {
    width: 100%;
    align-items: stretch;
  }
  .home-max-width2 {
    flex-direction: column;
  }
  .home-text-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container12 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-logo {
    width: var(--dl-size-size-large);
  }
  .home-link02 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-link03 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-link04 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-link05 {
    margin-left: var(--dl-space-space-unit);
  }
  .home-burger-menu {
    display: flex;
  }
  .home-gallery {
    display: none;
  }
  .home-image03 {
    width: 100%;
  }
  .home-image10 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    margin-left: 0px;
    padding-right: 16px;
  }
  .home-logo {
    margin-left: 0px;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-image {
    width: var(--dl-size-size-large);
  }
  .home-max-width5 {
    flex-direction: column;
  }
  .home-image11 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text125 {
    text-align: center;
  }
}
