.map-container {
  width: 480px;
  height: 480px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.map-div {
  width: 480px;
  height: 480px;
  align-self: center;
}
.map-root-class-name {
  width: 480px;
  height: 480px;
  align-self: center;
}
