<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <span class="navigation-links-text Navigation-Link">
      <span>Facelift My Home</span>
    </span>
    <span class="navigation-links-text1 Navigation-Link">
      <span>Szolgáltatásaink</span>
    </span>
    <span class="navigation-links-text2 Navigation-Link">
      <span>Rólunk</span>
    </span>
    <span class="navigation-links-text3 Navigation-Link">
      <span>Kapcsolat</span>
    </span>
  </nav>
</div>
